/* 
COLOURS
#f9fbfd     - off-white
#f8f9fa     - off-white 2
#eff2f5     - silver light 1
#ffd900     - yellow strong
#ffe600     - yellow medium
#0054d1     - blue medium
#0055b6     - blue dark 
#00af3a     - green medium
#50c2ff     - blue light
*/

/* 
COMMON ELEMENTS 
AND PAGE
CSS
*/
@media all and (min-width: 0px) {
  .bxshdw-1 {
    box-shadow: 0px 1px 18px rgba(165, 189, 224, 0.5) !important;
  }
  * {
    letter-spacing: 0.005em;
    font-family: "fb", sans-serif;
  }
  body {
    font-size: 100%;
    font-family: "fb", sans-serif;
    background-color: #333;
    color: #f9fbfd;
  }
  .title {
  /* Any title, e.g. form title, barticle header */
  }
  .title h1,
  h2,
  h3,
  h4 {
    /* Any title, e.g. form title, article header */
    letter-spacing: 0.008em;
  }
  a,
  li,
  em,
  strong,
  h1,
  h2,
  h3,
  h4 {
    transition: 0.6s cubic-bezier(0.5, 0.7, 0.7, 0.5) all;
  }

  .dark-theme {
    filter: invert(86%);
  }

  .ux-buttons {
    position: fixed;
    z-index: 40;
    right: 0em;
    bottom: 0em;
    background-color: #ffd900;
  }
  .ux-buttons .unit {
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    width: 2.25em;
    height: 2.1em;
    min-width: 2em;

    font-size: 90%;
    box-shadow: 0px 3px 15px rgba(90, 100, 120, 0.24);
  }
  .ux-buttons .unit img {
    height: 1.5em;
    width: auto;
  }
  .ux-buttons .unit-2 {
    right: 4.8em;
  }
  #fly-to-top:hover {
    padding-bottom: 24px !important;
  }
  .go-back-button {
    /* E.g. on forms and admin pages */
    border: none;
    min-width: 60px;
    display: inline-block;
    padding: 0 !important;
  }
  .go-back-button a {
    display: inline-block;
    padding: 4px 6px;
  }
  .go-back-button .line-anim {
    bottom: -2px;
  }

  .footer-page {
    padding: 24px 24px;
    color: #eff2f5;
  }
  .footer-page {
    background-color: #36455c;
    font-size: 93%;
  }
  .footer-page .footer-nav li {
    margin: 3px 0;
  }
  .footer-page .footer-nav li a {
    display: inline-block;
    min-width: 5em;
    padding: 3px 3px;
  }
}

/* 
MODULE
CSS
*/
@media all and (min-width: 0px) {
  .module {
    /* For simple pages and the background image to be filled 
    so no white space is created in the bottom */
    min-height: 100vh;
  }
  .module-login {
    padding-top: 60px;
    background: url("../../media/images/bkgd/bkgd-abstract-2.jpg");
    background-size: cover;
    background-position: center;
  }
}

/* 
BUTTON 
CSS
*/
@media all and (min-width: 0px) {
  .button-subtle {
    box-shadow: none;
    padding: 4px 3px;
    margin: 0;
    color: #646464;
  }
  .button-subtle:hover {
    background-color: none;
  }
  .button-art-2 {
    position: relative;
    box-shadow: none;
    display: block;
    margin: 0 auto;
    padding: 18px 21px;
    min-width: 240px;
    /* width: 420px; */
  }
  .button-art-2:hover {
    background-color: #ffd900;
    box-shadow: none !important;
  }
  .button-line-anim {
    /* A bottom line animated when user 
    hovers over the button */
    position: relative;
  }
  .line-anim {
    display: inline-block;
    width: 0;
    height: 1px;
    position: absolute;
    left: 3px;
    bottom: -4px;
    border-radius: 0.42em;
    background-color: rgb(160, 160, 200);
    transition: 0.6s ease all;
  }
 
  .button-line-anim:hover .line-anim {
    width: 95%;
  }
}



/* 
Projects 
Work Samples 
CSS
*/ 

.projects .title .heading {
  margin: 3em 3%;
  color: white;
}
.project .title .text {
  text-align: center;
}
.project .images {
  padding: 1.5em 2%;
}
.project .image {
  width: 80%;
  margin: 4.5% 10%;
  text-align: center;
}
.project .image img {
  cursor: pointer;
  transform: perspective(1000px);
  transition: 0.7s cubic-bezier(.5,.7,.7,.5) all;
}
.image-w25 img {
  width: 25%;
  min-width: 25%;
}
.image-w30 img {
  width: 30%;
  min-width: 30%;
}
.image-w40 img {
  width: 40%;
  min-width: 40%;
}
.image-w50 img {
  width: 50%;
  min-width: 50%;
}
.image-w60 img {
  width: 60%;
  min-width: 60%;
}
.image-w70 img {
  width: 70%;
  min-width: 70%;
}
.image-w80 img {
  width: 80%;
  min-width: 80%;
}
.image-w90 img {
  width: 90%;
  min-width: 90%;
}
.image-w100 img {
  width: 100%;
  min-width: 100%;
}

.project .image img:hover {
  /* animation: project-image-anim-1 5s ease-in both 1;   */
}

.slide-bottom-3 {
}
@keyframes project-image-anim-1 {
  0% {
    transform: rotateX(0deg) rotateY(0deg)
  }
  50% {
    transform: rotateX(-20deg) rotateY(10deg) rotateZ(-10deg);    
  }    
  70% {
    /* transform: rotateX(6deg) rotateY(15deg);     */
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg);    
  }
  }



/* 
Initial 
Views 
CSS
*/

.first-screen {
  position: absolute;
  top: 0;
  left: 0;
}
.first-screen .unit {
  width: 100vw;
  height: 20vh;
  background-color: #0054d1;
}

.welcome-landscape {
  height: 100vh;
  width: 100%;
  position: relative;
background-color: #202020;
background-color: #eff2f5;
}
.landscape .col-title .heading {
  font-family: fontLight;
  /* text-transform: uppercase; */
}
.landscape .col-title .title-part {
  display: block; 
  margin-bottom: 9px;
}
.landscape .unit-group {
    display: block;
    width: 100%;
    position: relative;
    margin: 2em auto;
    text-align: center;
}
.landscape .col {
    display: block;
    width: 600px;
    float: left;
    text-align: center;
}
.landscape .design-col {
    /* margin-left: 5%; */
}
.landscape .code-col {
    /* margin-right: 5%; */
}
.ground-line {
  width: 96%;
  height: 2px;
  margin: 0 2%;
  position: relative;
  left: 0;
  bottom: 4.5vw;
  background-color: rgb(128, 116, 100);
}
.landscape .unit {
    position: absolute;
    position: relative;
    margin: 0 auto;
    text-align: center;
}
.landscape .unit img {
    margin: 0 auto;
    position: relative;
}
.landscape .line-man {
    width: 186px;
    height: auto;
}
.landscape .design-col .line-man {
    width: 150px;
    height: auto;
}

.landscape .logo img {
  filter: grayscale(0) saturate(2);
}
.landscape .logo {
    width: 150px;
    margin: 15px auto;
}
.landscape .logo-wide {
  width: 200px;
}
.photoshop-logo img {
    transform: perspective(200px) translate3d(0px, 0px, 0px) rotateX(-15deg) rotateY(10deg);
    margin-bottom: 12[x];;
}
.figma-logo img {
    transform: perspective(200px) translate3d(0px, 0px, 0px) rotateX(-15deg) rotateY(10deg);
}
.html-logo img {
    transform: perspective(200px) translate3d(0px, 0px, 0px) rotateX(20deg) rotateY(-10deg);
}
.js-logo img {
    transform: perspective(200px) translate3d(0px, 0px, 0px) rotateX(20deg) rotateY(-10deg);
}
.php-logo img {
    transform: perspective(200px) translate3d(0px, 0px, 6px) rotateX(-24deg) rotateY(10deg);
}
.sql-logo img {
    transform: perspective(200px) translate3d(0px, 0px, 0px) rotateX(20deg) rotateY(-10deg);
}
.landscape .google-ga-logo {
    width: 288px;
}
.landscape .data-mining-logo {
    width: 288px;
    margin-bottom: 18px;
}
.google-ga-logo img {
    width: 100%;
}
.data-mining-logo img {
    width: 100%;
}


.landscape .unit20 {
    left: 5%;
}


.slide-bottom {
  -webkit-animation: slide-bottom 4s ease-in-out both
    900;
  animation: slide-bottom 4s ease-in-out both 900;
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.slide-bottom-2 {
  -webkit-animation: slide-bottom-2 4.3s ease-in-out both
    900;
  animation: slide-bottom-2 4.3s ease-in-out both 900;
}
@keyframes slide-bottom-2 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px) translateX(3px);
    transform: translateY(10px) translateX(3px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.slide-bottom-3 {
  -webkit-animation: slide-bottom-2 3.75s ease-out both
    900;
  animation: slide-bottom-2 3.75s ease-out both 900;
}
@keyframes slide-bottom-3 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(9px) translateX(-3px);
    transform: translateY(9px) translateX(-3px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}


.doorway {
  width: 100vw;
  height: 100vh;
}
.doorway .unit {
  position: relative;
  width: 50%;
  height: 100vh;
  perspective: 3000px;
  /* background-color: #f9fbfd; */
}
.doorway .door-image {
  width: 18em;
  height: auto;
  opacity: 0.86;
  position: absolute;
  transition: 0.9s ease-in all;
  transition: 0.6s cubic-bezier(0.3, 0.45, 0.5, 0.3) all;
  box-shadow: 0 8px 16px 0 rgba(106, 116, 158, 0.5),
    0 10px 16px 0 rgba(114, 124, 151, 0.5);
}
.doorway .right {
  float: right;
}
.doorway .left {
  float: right;
}
.doorway .right .door-image {
  left: 0;
}
.doorway .left .door-image {
  right: 0;
}
.doorway:hover .right .door-image {
  /* Door to slide open via animation */
  transform: perspective(2000px) translate3d(9em, 0px, 0px) rotateX(00deg) rotateY(-10deg);
}
.doorway:hover .left .door-image {
  /* Door to slide open via animation */
  transform: perspective(2000px) translate3d(-9em, 0px, 0px) rotateX(00deg)
    rotateY(10deg);
}

/* 
Roles 
CSS
*/
.role-section {
  width: 50%;
  padding: 4.2% 3%;
  float: left;
  text-align: center;
}
.role-title {
  font-size: 2em;
  margin-bottom: 6px 0;
}

/* 
FORM
CSS
*/
@media all and (min-width: 0px) {
  .form-outer {
    position: relative;
  }
  .form-title {
    margin-bottom: 21px;
  }
  .form-title h2 {
    font-size: 1.5em;
  }
  .form-subtitle {
    color: #848484;
    margin-top: 15px;
  }
  .form .submit {
    background-color: #0054d1;
    color: white;
    border: none;
    margin-top: 18px;
    font-family: fh;
  }
  .form .submit:hover {
    background-color: #0055b6;
  }
  .form-response-message {
    display: none;
    margin-top: 30px;
    padding: 12px 12px;
    font-family: fh;
    border: 1px solid #eee;
    border-radius: 0.1em;
    color: #333;
  }
  .form-response-message-displayed {
    display: block;
  }
  .form-box-secondary {
    padding: 0 !important;
  }
  .form-box-secondary .input-div {
    margin: 0 !important;
  }
  .form label {
    position: relative;
    color: #777;
  }
  .form .help img {
    position: relative;
    height: 1.68em;
    width: auto;
    bottom: -6px;
    left: 4px;
  }

  .form-art-1 .form-box {
    width: 420px;
    margin: 0 auto;
    padding: 40px 57px;
    padding-bottom: 48px;
    background-color: #fff;
    border-radius: 0.16em;
    box-shadow: 0px 1px 18px rgba(165, 189, 224, 0.5);
  }
  .form-art-1 .form {
    width: 306px;
  }
  .form-art-1 .input-div {
    width: 100%;
    margin-top: 21px;
  }
  .form-art-1 input {
    border: 1px solid rgb(215, 215, 225);
    font-family: fb;
    padding: 14px 12px;
    border-radius: 0.16em;
    /* box-shadow: 0px 1px 9px rgba(165, 189, 224, 0.1); */
  }
  .form-art-1 select {
    border: 1px solid rgb(215, 215, 225);
    font-family: fb;
    padding: 14px 12px;
    border-radius: 0.16em;
  }
  .form-art-1 textarea {
    border: 1px solid rgb(215, 215, 225);
    font-family: fb;
    padding: 14px 12px;
    border-radius: 0.16em;
  }
  .form-art-1 .submit {
    min-width: 200px;
    width: 216px;
    border: 2px solid #0054d1;
    color: #0054d1;
    background-color: white;
    padding: 16px 12px;
  }

  .form-art-1 .submit:hover {
    background-color: #0055b6;
    color: white;
  }
  .form-section-button {
    /* Button to show the next form section 
    in lengthy complex forms */
    padding: 10px 12px;
    padding-bottom: 11px;
    margin-top: 15px;
    cursor: pointer;
    line-height: 1.15;
    display: inline-block;
    text-align: center;
    box-shadow: none;
    min-width: 140px;
    border: 2px solid #333;
    transition: 0.6s ease all;
  }
  .form-section-button:hover {
    background-color: #0055b6;
    color: white;
  }

  .form-pagination {
    /* To navigate to form sections (views) */
    padding-left: 3px;
    margin-top: -1px;
  }
  .form-pagination .paginate-button {
    border-radius: 50%;
    color: #333;
    border: 1px solid #555;
    /* font-family: fh; */
    font-size: 99%;
    display: inline-block;
    margin-right: 8px;
    padding: 3px 3px;
    height: 1.75em;
    width: 1.75em;
    text-align: center;
    cursor: pointer;
    transition: 0.6s ease all;
  }
  .form-pagination .paginate-button:hover {
    background-color: #ffe900;
  }
}

/* 
DATATABLE 
CSS
*/

@media all and (min-width: 0px) {
  .datatable-outer {
    margin-bottom: 30px;
  }
  .datatable {
    max-width: 1600px;
    margin-left: 0 !important;
  }
  .datatable #myTable tr td {
    /* Reset default style */
    background: none !important;
  }
  .datatable #myTable tr:nth-child(even) {
    background-color: #fff !important;
  }
  .datatable #myTable tr:nth-child(odd) {
    background-color: #fafbfd !important;
  }
  .datatable .dataTables_filter {
    margin-right: 5px;
    margin-bottom: 3px;
  }
  button.dt-button {
    /* Datatable export buttons, e.g. Print */
    background: none;
    background-color: #fff;
    border: none;
    margin-right: 6px;
    font-size: 97%;
    min-width: 5em;
  }
  button.dt-button:hover {
    background: none !important;
    background-color: #f8f9fa;
    border: none !important;
  }
  table .button {
    color: #555 !important;
    background-color: #ffff;
    border: 1px solid #ccc;
    border-radius: 0.1em;
  }
  table .button:hover {
    font-family: fh;
  }
  .td-subtle {
    color: #777;
    font-size: 93%;
  }
}



/* 
Timeline CSS
 */

 .timeline {
  position: relative;
  padding: 9% 4%;
  padding-top: 7%;
  background-color: #cdcdcd;
  background: url('../../media/img/bkgd/stage02.jpg');
  background-size: cover;
  background-position: center;
 }
 .timeline .calendars {
 }
 .calendar {
  position: relative;
  width: 46%;
  padding: 1% 1%;
  transition: 0.6s ease all;
 }
 .calendar img {
  transition: 0.6s ease all;
  transform: perspective(1000px);
  /* transform: rotateX(-20deg) rotateY(-10deg) rotateZ(0deg);  */
 }
 .calendar:hover img {
}
.timeline .disclaimer {
  margin-top: 21px;
  color: #606060;
  text-align: right;
}
.timeline .button-3 {
  margin: 0 auto;
  padding: 18px 42px;
  padding-top: 16px;
  letter-spacing: 0.028em;
  border-radius: 0.0em;
  line-height: 1.15;
  font-size: 1.54em;
  color: #1bb131;
  font-family: fontBody;
  /* font-weight: bold; */
}
.timeline .button-3:hover {
  color: white;
  background-color: #1bb131;
  padding: 18px 48px;
  padding-top: 16px;
  letter-spacing: 0.096em;
}
.timeline .arrow-image {
  position: absolute;
  text-align: center;
  /* width: 40%; */
  margin: 0 50%;
}
.timeline .arrow-image img {
  filter: invert(1);
  display: none;
  margin: 0 auto;
  margin-top: 7em;
  position: relative;
  height: 7.5em;
  width: auto;
  text-align: center;
  transform: rotate(-10deg);
}






/* 
Design 
Workflow 
CSS
*/

.workflow {
  min-height: 100vh;
  width: 100%;
  background-color: #333;
}
.workflow .col {
  width: 25%;
  height: 100vh; 
  float: left;
  padding: 3% 0%;
}
.workflow .unit .title .heading {
  font-size: 2.56em;
  /* text-transform: uppercase; */
  font-family: fontLight;
  letter-spacing: 0.02em;
  line-height: 1.48;
}





  .design-workflow {
      background-color: #202020;  
      background: linear-gradient(
          100deg,
          rgba(41, 42, 44, 0) 0%,
          rgba(46, 49, 53, 0) 50%,
          rgba(21, 22, 22, 0) 100%
        ),
        url('../../media/img/bkgd/bkgd-01.jpg'); 
      background-attachment: fixed;
      background-size: cover;
      background-position: top left;
      background-repeat: repeat;
  }
  .design-workflow .title h2 {
      text-align: center;
      font-family: fh;
      color: #fcfcfc;
      letter-spacing: -0.01em;
      line-height: 1.16;
      margin-bottom: 1.5%;
      text-transform: uppercase;
      text-shadow: 8px 5px 20px #3b3e41;
  }
  .design-workflow .col  {
      /* Country column */
      opacity: 0.96;
      position: relative;
      min-height: 320px;
      cursor: pointer; 
      transition: 1.00s ease-in all;
  }
  .design-workflow .col:hover .images {
      bottom: -15vh;
  }
  .design-workflow .unit .title {
      color: #f9f9f9;
      padding: 9px 15px;
      padding-bottom: 12px;
      /* width: 70%; */
      margin: 0 auto;
      z-index: 11;
      text-shadow: 8px 5px 20px #515c66;
  }
  .design-workflow .unit .images {
      width: 100%; 
      min-width: 160px;
      margin: 0 auto;
      position: relative;
      bottom: -40vh;
      z-index: 10;
      transition: 1.5s ease-out all;
      /* transition: 2.7s cubic-bezier(.5,.7,.7,.5) all; */
  }
  
  .design-workflow .unit {
  }
  .design-workflow .unit:hover {
      background: linear-gradient(
          100deg,
          rgba(41, 42, 44, 0.08) 0%,
          rgba(46, 49, 53, 0.07) 20%,
          rgba(32, 33, 34, 0.7) 40%,
          rgba(21, 22, 22, 0.07) 80%,
          rgba(21, 22, 22, 0.08) 100%
        ),
        url('../../media/img/bkgd/bkgd-01.jpg'); 
      background-attachment: scroll;
      background-size: cover;
      background-position: center;
      background-repeat: repeat;
  
  }
  .design-workflow .three {
      background: linear-gradient(
          100deg,
          rgba(26, 26, 27, 0.8) 0%,
          rgba(24, 24, 26, 0.8) 20%,
          rgba(32, 33, 34, 0.84) 40%,
          rgba(21, 22, 22, 0.8) 80%,
          rgba(21, 22, 22, 0.8) 100%
        ),
        url('../../media/img/fp/bkgd02.jpg'); 
      background-attachment: scroll;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  }
  .design-workflow .three:hover {
      background: linear-gradient(
          100deg,
          rgba(26, 26, 27, 0.1) 0%,
          rgba(24, 24, 26, 0.3) 20%,
          rgba(32, 33, 34, 0.3) 40%,
          rgba(21, 22, 22, 0.3) 80%,
          rgba(21, 22, 22, 0.1) 100%
        ),
        url('../../media/img/fp/bkgd02.jpg');
      background-attachment: scroll;
      background-size: cover;
      background-position: top right;
      background-repeat: no-repeat;
  }
  .design-workflow .four {
      background: linear-gradient(
          100deg,
          rgba(26, 26, 27, 0.8) 0%,
          rgba(24, 24, 26, 0.8) 20%,
          rgba(32, 33, 34, 0.84) 40%,
          rgba(21, 22, 22, 0.8) 80%,
          rgba(21, 22, 22, 0.8) 100%
        ),
        url('../../media/img/fp/js-php.jpg'); 
      background-attachment: scroll;
      background-size: cover;
      background-position: right;
      background-repeat: no-repeat;
  }
  .design-workflow .four:hover {
      background: linear-gradient(
          100deg,
          rgba(26, 26, 27, 0.8) 10%,
          rgba(24, 24, 26, 0.7) 20%,
          rgba(32, 33, 34, 0.0) 60%,
          rgba(21, 22, 22, 0.7) 80%,
          rgba(21, 22, 22, 0.7) 100%
        ),
        url('../../media/img/fp/js-php.jpg');
      background-attachment: scroll;
      background-size: cover;
      background-position: right;
      background-repeat: no-repeat;
  }

  .design-workflow .unit .subtitle {
      font-size: 1.4em;
      font-family: fb;
      color: white;
      line-height: 1.6;
      letter-spacing: 0.025em;
      margin-top: 18px;
      padding: 15px 18px;
      transition: 0.7s cubic-bezier(.5,.7,.7,.5) all;
  }


  .workflow .images .line-man-thinking {
    width: 40%;
  }
  .workflow .images .line-man-coding {
    width: 48%;
  }

  .workflow .images .ruler {
    width: 68%;
    margin-left: -6%;
    opacity: 0.99;
    transform: rotateX(-10deg) rotateY(-20deg) rotateZ(-20deg); 
  }
  .workflow .col:hover .images .ruler {
    opacity: 0.80;
  }


  


.animation-paused {
  animation: none !important;
  animation-play-state: paused !important;
}
.animation-paused-logo {
  animation: none !important;
  animation-play-state: paused !important; 
  filter: saturate(1.4);
}
.landscape .design-col {
}
.show {
  display: block !important;
}